<section id="apartments" class="section_apartments background-color-gradient">
        <div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="apartments_component">
              <div data-pretitle="" class="preheader_item">
                <div class="w-embed"><svg width="63" height="16" viewbox="0 0 63 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8538 0.212891H0V2.66629H6.98686V15.7866H9.76027V2.66629H16.8538V0.212891Z" fill="#A0968F"></path>
                    <path d="M30.3477 0C35.4435 0 39.5752 3.5816 39.5752 8C39.575 12.4183 35.4434 16 30.3477 16C25.2521 15.9998 21.1213 12.4182 21.1211 8C21.1211 3.58172 25.252 0.000190172 30.3477 0ZM30.3457 2.45215C26.8407 2.45233 23.9992 4.93586 23.999 7.99902C23.999 11.0623 26.8406 13.5457 30.3457 13.5459C33.851 13.5459 36.6934 11.0624 36.6934 7.99902C36.6932 4.93575 33.8508 2.45215 30.3457 2.45215Z" fill="#A0968F"></path>
                    <path d="M54.9111 0.191406L62.7207 13.3496V15.8096L43.8398 15.8096V13.1357L51.8096 0.191406L54.9111 0.191406ZM46.9951 13.3516L59.7783 13.3516L53.3066 2.81445L46.9951 13.3516Z" fill="#A0968F"></path>
                  </svg>
                </div>
              </div>
              <div data-heading="" class="apartments_heading-wrapper">
                <div class="max-width-large">
                  <h2 class="text-wrap-pretty"><strong>Открийте мястото</strong> което ще наречете дом</h2>
                </div>
                <div class="apartments_header-pricing-wrapper">
                  <div class="heading-style-h5 text-color-secondary">Стартови цени от</div>
                  <div class="pricing-wrapper">
                    <div class="text-style-pricing">155 000</div>
                    <div class="heading-style-h5 text-color-secondary">EUR <span class="text-size-large">(без ДДС)</span></div>
                  </div>
                </div>
              </div>
              <div class="apartments_grid">
                <div id="w-node-_108aa3be-0678-1a18-c206-2dbf698e474a-1790c6e7" class="apartments_top">
                  <p id="w-node-af2af5e6-d757-26cc-b864-28b69a6b56ff-1790c6e7" class="heading-style-h6 text-align-center">Площи <span class="text-weight-medium">от 54 м2 до 184 м2</span></p>
                  <div id="w-node-_8ca43773-531c-ded0-7d5b-184d1bed8e20-1790c6e7" class="apartment_card">
                    <div class="apartment_image-wrapper"><img src="/images/Two-bedroom-apartment.webp" loading="lazy" sizes="100vw" srcset="/images/Two-bedroom-apartment-p-500.webp 500w, /images/Two-bedroom-apartment.webp 704w" alt="Floor plan of a 2 bedroom apartment"></div>
                    <div class="margin-bottom margin-xxsmall">
                      <p class="text-size-xlarge text-weight-medium text-align-center">Двустайни апартаменти</p>
                    </div>
                    <a data-letter-wave="" href="#contact" class="button is-secondary w-button">Направи запитване</a>
                  </div>
                  <div class="apartment_card">
                    <div class="apartment_image-wrapper"><img src="/images/Three-bedroom-apartment.webp" loading="lazy" sizes="100vw" srcset="/images/Three-bedroom-apartment-p-500.webp 500w, /images/Three-bedroom-apartment.webp 704w" alt="Floor plan of a 3 bedroom apartment"></div>
                    <div class="margin-bottom margin-xxsmall">
                      <p class="text-size-xlarge text-weight-medium text-align-center">Тристайни апартаменти</p>
                    </div>
                    <a data-letter-wave="" href="#contact" class="button is-secondary w-button">Направи запитване</a>
                  </div>
                  <div class="apartment_card">
                    <div class="apartment_image-wrapper"><img src="/images/Four-bedroom-apartment.webp" loading="lazy" sizes="100vw" srcset="/images/Four-bedroom-apartment-p-500.webp 500w, /images/Four-bedroom-apartment.webp 704w" alt="Floor plan of a 4 bedroom apartment"></div>
                    <div class="margin-bottom margin-xxsmall">
                      <p class="text-size-xlarge text-weight-medium text-align-center">Четиристайни апартаменти</p>
                    </div>
                    <a data-letter-wave="" href="#contact" class="button is-secondary w-button">Направи запитване</a>
                  </div>
                </div>
                <div id="w-node-e3167465-22de-4bc7-cccd-24ae16ce9fa6-1790c6e7" class="apartment_card is-dark">
                  <div class="apartment_card-top z-index-2">
                    <div class="apartment_card-title-wrapper">
                      <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M28.0013 17.3333V26.6667C28.0013 27.4031 27.4044 28 26.668 28H5.33464C4.59826 28 4.0013 27.4031 4.0013 26.6667V17.3333H2.66797V14.6667L4.0013 8H28.0013L29.3346 14.6667V17.3333H28.0013ZM6.66797 17.3333V25.3333H25.3346V17.3333H6.66797ZM5.38745 14.6667H26.6152L25.8152 10.6667H6.18745L5.38745 14.6667ZM8.0013 18.6667H18.668V22.6667H8.0013V18.6667ZM4.0013 4H28.0013V6.66667H4.0013V4Z" fill="#F1EEEA"></path>
                        </svg>
                      </div>
                      <p class="heading-style-h5">Търговски обекти</p>
                    </div>
                    <div class="apartment_card-area-wrapper">
                      <div>Площи</div>
                      <p class="text-size-large text-weight-medium">от 56 м2 до 198 м2</p>
                    </div>
                  </div>
                  <a data-letter-wave="" href="#contact" class="button is-alternate z-index-2 w-button">Направи запитване</a>
                  <div class="card_bg-decoration w-embed"><svg width="310" height="474" viewbox="0 0 310 474" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M181.784 0L310 216.034V256.431L0 256.431L0 212.521L130.85 0L181.784 0ZM51.8008 216.042L261.687 216.042L155.427 43.0391L51.8008 216.042Z" fill="#EAEAEA" fill-opacity="0.05"></path>
                      <path d="M128.216 542.43L1.88863e-05 326.395L2.24179e-05 285.999L310 285.999L310 329.908L179.15 542.43L128.216 542.43ZM258.207 326.38L48.3203 326.38L154.581 499.383L258.207 326.38Z" fill="#EAEAEA" fill-opacity="0.05"></path>
                    </svg>
                  </div>
                </div>
                <div id="w-node-_33268ed8-4538-4bb4-b2dc-86a85cf5f446-1790c6e7" class="apartment_card is-light">
                  <div class="apartment_card-title-wrapper">
                    <p class="heading-style-h5">Предлагат се още:</p>
                    <p class="text-size-large text-color-secondary">Външни и подземни паркоместа, самостоятелни гаражи и складови помещения.</p>
                  </div>
                  <a data-letter-wave="" href="#contact" class="button is-secondary w-button">Направи запитване</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
