<section id="benefits" class="section_benefits background-color-gradient">
        <div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="benefits_component">
              <h2><strong>Причините да изберете ТОД</strong></h2>
              <div class="benefits_grid">
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66667 4V25.3333H28V28H4V4H6.66667ZM27.0572 8.39052L28.9428 10.2761L21.3333 17.8856L17.3333 13.8867L11.6095 19.6095L9.72385 17.7239L17.3333 10.1144L21.3333 14.1133L27.0572 8.39052Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">По-ниски разходи. По-висока ефективност.</h3>
                  </div>
                  <p class="text-color-secondary">Фотоволтаичната система намалява разходите за поддръжка на общите части с до 30%.</p>
                </div>
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.9987 25.3283V7.59557C3.9987 7.03489 4.34946 6.53412 4.87638 6.34252L17.7708 1.6536C18.1168 1.52777 18.4994 1.70628 18.6252 2.05231C18.6518 2.12533 18.6654 2.20244 18.6654 2.28013V8.88389L27.087 11.6911C27.6315 11.8726 27.9987 12.3821 27.9987 12.956V25.3283H30.6654V27.995H1.33203V25.3283H3.9987ZM6.66536 25.3283H15.9987V5.13553L6.66536 8.52948V25.3283ZM25.332 25.3283V13.9171L18.6654 11.6948V25.3283H25.332Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Архитектура с подпис</h3>
                  </div>
                  <p class="text-color-secondary">Интериорна концепция от студио IDEA и арх. и инвеститор Алекс Ковачев, в която дизайнът и функционалността вървят ръка за ръка.</p>
                </div>
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.7753 3.58039C16.3117 3.24924 15.6889 3.24924 15.2253 3.58039L2.55859 12.628L4.10857 14.7979L16.0002 6.3039L27.8919 14.7979L29.4419 12.628L16.7753 3.58039ZM26.1086 16.9138L16.7753 10.2471C16.3117 9.91591 15.6889 9.91591 15.2253 10.2471L5.89193 16.9138C5.54154 17.164 5.33358 17.568 5.33358 17.9987V26.6654C5.33358 27.4018 5.93053 27.9987 6.66691 27.9987H25.3335C26.0699 27.9987 26.6669 27.4018 26.6669 26.6654V17.9987C26.6669 17.568 26.459 17.164 26.1086 16.9138ZM8.00025 25.332V18.6848L16.0002 12.9706L24.0002 18.6848V25.332H8.00025Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Бутикова жилищна среда</h3>
                  </div>
                  <p class="text-color-secondary">Само два самостоятелни входа и ограничен брой жилища за повече спокойствие и лично пространство.</p>
                </div>
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.33333 4H26.6667C27.4031 4 28 4.59696 28 5.33333V26.6667C28 27.4031 27.4031 28 26.6667 28H5.33333C4.59696 28 4 27.4031 4 26.6667V5.33333C4 4.59696 4.59696 4 5.33333 4ZM6.66667 6.66667V25.3333H25.3333V6.66667H6.66667ZM14.6701 21.3333L9.01332 15.6765L10.8989 13.7908L14.6701 17.5621L22.2127 10.0196L24.0983 11.9052L14.6701 21.3333Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Избор, който ще оценявате и след години</h3>
                  </div>
                  <p class="text-color-secondary">Качественото изпълнение, устойчивата архитектура и внимателно подбраната локация превръщат ТОД в сигурен избор за днес и за бъдещето.</p>
                </div>
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.33333 4H26.6667C27.4031 4 28 4.59696 28 5.33333V26.6667C28 27.4031 27.4031 28 26.6667 28H5.33333C4.59696 28 4 27.4031 4 26.6667V5.33333C4 4.59696 4.59696 4 5.33333 4ZM6.66667 6.66667V25.3333H25.3333V6.66667H6.66667ZM14.6667 17.056C13.4893 16.5416 12.6667 15.3669 12.6667 14C12.6667 12.1591 14.1591 10.6667 16 10.6667C17.8409 10.6667 19.3333 12.1591 19.3333 14C19.3333 15.3669 18.5107 16.5416 17.3333 17.056V21.3333H14.6667V17.056Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Покупка с увереност</h3>
                  </div>
                  <p class="text-color-secondary">Директно от инвеститор, без комисионна за купувача и с професионално съдействие на всяка стъпка от избора до финализирането на сделката.</p>
                </div>
                <div class="benefit-item">
                  <div class="margin-bottom margin-large">
                    <div class="icon-embed-small w-embed"><svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.468 18.3426L17.3507 20.2253L28.638 8.93783L30.5238 10.8234L17.3507 23.9965L8.86537 15.5112L10.751 13.6256L13.584 16.4586L15.468 18.3426ZM15.4703 14.5724L22.0738 7.96875L23.9542 9.84912L17.3507 16.4526L15.4703 14.5724ZM11.7013 22.1125L9.81731 23.9965L1.33203 15.5112L3.21764 13.6256L5.10167 15.5097L5.10008 15.5112L11.7013 22.1125Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Качество, което се усеща всеки ден</h3>
                  </div>
                  <p class="text-color-secondary">Фасада Italgranit, енергиен клас A/A+ и висок клас материали, подбрани за комфорт, ефективност и дълъг живот.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed">
</div>
      </section>
