<div class="fixed_buttons">
      <a href="#contact" data-letter-wave="" class="button w-button">Запитване</a>
      <a data-letter-wave="" href="tel:0875363355" class="button is-secondary w-button">Обади се</a>
    </div>
