<footer id="footer" class="footer">
      <div class="padding-global">
        <div class="container-large">
          <div class="footer_wrapper">
            <div class="footer_top">
              <div class="footer_logo">
                <a aria-label="Homepage" data-menu-logo="" href="/#hero" class="footer_logo-link w-inline-block">
                  <div class="footer_logo-embed w-embed"><svg width="100%" height="100%" viewbox="0 0 241 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M64.7584 0.820312H0V10.2472H26.846V60.6603H37.5025V10.2472H64.7584V0.820312Z" fill="#453B3F"></path>
                      <path d="M116.605 0C136.186 0.000174252 152.059 13.7633 152.059 30.7402C152.058 47.717 136.185 61.4793 116.605 61.4795C97.0254 61.4795 81.1526 47.7171 81.1523 30.7402C81.1523 13.7632 97.0252 0 116.605 0ZM116.605 9.42383C103.137 9.42383 92.2188 18.9665 92.2188 30.7373C92.2191 42.5079 103.137 52.0498 116.605 52.0498C130.074 52.0497 140.992 42.5078 140.992 30.7373C140.992 18.9666 130.074 9.42396 116.605 9.42383Z" fill="#453B3F"></path>
                      <path d="M210.994 0.734375L240.999 51.29V60.7441L168.453 60.7441V50.4688L199.074 0.734375L210.994 0.734375ZM180.574 51.2969L229.691 51.2969L204.824 10.8105L180.574 51.2969Z" fill="#453B3F"></path>
                    </svg>
                  </div>
                </a>
                <div class="divider-vertical"></div>
                <div class="footer_phone-wrapper">
                  <div class="footer_phone-text">
                    <div class="icon-embed-custom1 w-embed"><svg width="100%" height="100%" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.49212 8.74597C8.38397 10.3143 9.68797 11.6183 11.2563 12.5101L12.0986 11.3307C12.3787 10.9387 12.9074 10.8176 13.3303 11.0485C14.6701 11.7804 16.1507 12.2252 17.6953 12.3475C18.1906 12.3867 18.5725 12.8001 18.5725 13.2969V17.5472C18.5725 18.0355 18.2032 18.4446 17.7175 18.4945C17.2128 18.5464 16.7037 18.5725 16.1916 18.5725C8.03882 18.5725 1.42969 11.9634 1.42969 3.81064C1.42969 3.29852 1.4558 2.78941 1.50768 2.2847C1.55759 1.79897 1.96677 1.42969 2.45507 1.42969H6.70533C7.20216 1.42969 7.61552 1.81163 7.65473 2.30692C7.77699 3.85148 8.22178 5.3322 8.95369 6.67201C9.18464 7.09483 9.0635 7.62353 8.6715 7.90356L7.49212 8.74597ZM5.09088 8.12035L6.90035 6.82787C6.38728 5.7203 6.03567 4.54572 5.85566 3.33445H3.34309C3.33733 3.49285 3.33445 3.65159 3.33445 3.81064C3.33445 10.9114 9.09083 16.6678 16.1916 16.6678C16.3506 16.6678 16.5094 16.6649 16.6678 16.6591V14.1465C15.4565 13.9665 14.282 13.6149 13.1744 13.1019L11.8819 14.9114C11.359 14.7083 10.8541 14.4692 10.3701 14.1974L10.3147 14.1659C8.44845 13.1046 6.89763 11.5538 5.83635 9.6875L5.80487 9.63216C5.53301 9.14816 5.29401 8.64321 5.09088 8.12035Z" fill="#453B3F"></path>
                      </svg>
                    </div>
                    <p class="text-color-secondary">Телефон за връзка:</p>
                  </div>
                  <a data-letter-wave="" href="tel:0875363355" class="footer_phone-link">0875363355</a>
                </div>
              </div>
              <div class="footer_links-wrapper">
                <a data-letter-wave="" href="#project" class="footer_link">За проекта</a>
                <a data-letter-wave="" href="#comfort" class="footer_link">Удобства</a>
                <a data-letter-wave="" href="#location" class="footer_link">Локация</a>
                <a data-letter-wave="" href="#apartments" class="footer_link">Цени</a>
                <a data-letter-wave="" href="#benefits" class="footer_link">Предимства</a>
              </div>
            </div>
            <div class="footer_bottom">
              <p>© 2026 TOD All rights reserved.</p>
              <p>Web Design &amp; Development: <a data-letter-wave="" href="https://www.creativecorner.studio/" target="_blank">Creative Corner Studio</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
