<section id="hero" class="section_hero">
        <div class="padding-global padding-section-large is-hero">
          <div class="container-large is-relative">
            <div class="hero-wrapper">
              <div class="hero_content-wrapper">
                <h1 class="text-color-alternate-secondary">Не просто нов дом. <strong>Ново ежедневие. </strong></h1>
                <div class="margin-bottom margin-medium">
                  <h2 class="heading-style-h4 text-weight-light text-color-alternate-secondary">Манастирски ливади, Изток</h2>
                </div>
                <div class="margin-bottom margin-xlarge">
                  <div class="max-width-large">
                    <p class="text-color-alternate text-size-large">ПРЕМИЕРА НА ПРЕДВАРИТЕЛНИТЕ ПРОДАЖБИ</p>
                    <p class="text-color-alternate text-size-large">TOD: Новият жилищен проект на Алекс Ковачев.</p>
                  </div>
                </div>
                <div class="hero_tags-container">
                  <div class="hero_tag-wrapper">
                    <div class="hero_tag-line w-embed"><svg width="25" height="183" viewbox="0 0 25 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 183V1H25" stroke="url(#paint0_linear_2889_4071)" stroke-width="2"></path>
                        <defs>
                          <lineargradient id="paint0_linear_2889_4071" x1="13" y1="1" x2="13" y2="183" gradientunits="userSpaceOnUse">
                            <stop stop-color="#EFECE7"></stop>
                            <stop offset="1" stop-color="#EFECE7" stop-opacity="0"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="hero_tag">
                      <div class="rectangle_asset"></div>
                      <div class="text-size-large">Без комисионна за купувача</div>
                    </div>
                  </div>
                  <div class="hero_tag-wrapper is-2">
                    <div class="hero_tag-line w-embed"><svg width="25" height="183" viewbox="0 0 25 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 183V1H25" stroke="url(#paint0_linear_2889_4071)" stroke-width="2"></path>
                        <defs>
                          <lineargradient id="paint0_linear_2889_4071" x1="13" y1="1" x2="13" y2="183" gradientunits="userSpaceOnUse">
                            <stop stop-color="#EFECE7"></stop>
                            <stop offset="1" stop-color="#EFECE7" stop-opacity="0"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="hero_tag">
                      <div class="rectangle_asset"></div>
                      <div class="text-size-large">Директно от инвеститор</div>
                    </div>
                  </div>
                  <div class="hero_tag-wrapper is-3">
                    <div class="hero_tag-line w-embed"><svg width="25" height="183" viewbox="0 0 25 183" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 183V1H25" stroke="url(#paint0_linear_2889_4071)" stroke-width="2"></path>
                        <defs>
                          <lineargradient id="paint0_linear_2889_4071" x1="13" y1="1" x2="13" y2="183" gradientunits="userSpaceOnUse">
                            <stop stop-color="#EFECE7"></stop>
                            <stop offset="1" stop-color="#EFECE7" stop-opacity="0"></stop>
                          </lineargradient>
                        </defs>
                      </svg></div>
                    <div class="hero_tag">
                      <div class="rectangle_asset"></div>
                      <div class="hero_tag-text-wrapper">
                        <p class="text-size-large">Само с 20% самоучастие</p>
                        <p>останалите 80% на акт 16</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a data-letter-wave="" href="#contact" class="button is-alternate w-button">Направете запитване</a>
              </div>
            </div>
          </div>
        </div>
        <div data-parallax-layers="" class="background-wrapper">
          <div class="hero_image-wrapper is-front"><img class="hero_image front" src="/images/Hero_building-image.webp" alt="Front shot of the TOD building" sizes="(max-width: 4951px) 100vw, 4951px" loading="eager" data-parallax-layer="4" fetchpriority="high" srcset="/images/CAM1_2-1-1-p-500.webp 500w, /images/CAM1_2-1-1-p-800.webp 800w, /images/CAM1_2-1-1-p-1080.webp 1080w, /images/CAM1_2-1-1-p-1600.webp 1600w, /images/CAM1_2-1-1-p-2000.webp 2000w, /images/CAM1_2-1-1-p-2600.webp 2600w, /images/CAM1_2-1-1-p-3200.webp 3200w, /images/Hero_building-image.webp 4951w"></div>
          <div class="hero_image-wrapper"><img class="hero_image" src="/images/Hero_image.webp" alt="Light blue sky with clouds" sizes="(max-width: 1830px) 100vw, 1830px" loading="eager" data-parallax-layer="1" fetchpriority="high" srcset="/images/91db8cd7cf83d4858390255a44402146_Hero_image-p-500.webp 500w, /images/91db8cd7cf83d4858390255a44402146_Hero_image-p-800.webp 800w, /images/91db8cd7cf83d4858390255a44402146_Hero_image-p-1080.webp 1080w, /images/91db8cd7cf83d4858390255a44402146_Hero_image-p-1600.webp 1600w, /images/Hero_image.webp 1830w"></div>
          <div class="overlay is-dark"></div>
          <div class="overlay"></div>
        </div>
      </section>
