<section id="project" class="section_key-benefits background-color-secondary">
        <div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="key_benefits-component-wrapper">
              <h2 id="w-node-b5a82c0e-a551-7e7e-9cde-7f1e56abb6dd-1790c6e7">Проектиран за живота, <strong>който искате да живеете. </strong></h2>
              <p id="w-node-b5a82c0e-a551-7e7e-9cde-7f1e56abb6e1-1790c6e7" class="text-size-large">След успеха на вече завършена сграда на Алекс Ковачев в района, ТОД надгражда познатия фокус върху качествена жилищна среда чрез устойчиво строителство, висок клас материали и енергийно ефективни решения, които осигуряват по-висок комфорт, по-ниски разходи и дългосрочна стойност на вашия дом.</p>
              <div id="w-node-b5a82c0e-a551-7e7e-9cde-7f1e56abb6e3-1790c6e7" class="key_benefits-container">
                <div class="key_benefits-item is-first">
                  <div class="key_benefits-item-heading-wrapper">
                    <div class="heading-style-h1">2</div>
                    <div class="text-color-secondary text-weight-light">1/4</div>
                  </div>
                  <p class="text-size-large text-color-secondary">Самостоятелни входа</p>
                </div>
                <div class="key_benefits-item">
                  <div class="key_benefits-item-heading-wrapper">
                    <div class="heading-style-h1">20</div>
                    <div class="text-color-secondary text-weight-light">2/4</div>
                  </div>
                  <p class="text-size-large text-color-secondary">Години гаранция</p>
                </div>
                <div class="key_benefits-item is-third">
                  <div class="key_benefits-item-heading-wrapper">
                    <div class="heading-style-h1">A/A+</div>
                    <div class="text-color-secondary text-weight-light">3/4</div>
                  </div>
                  <p class="text-size-large text-color-secondary">Енергиен клас</p>
                </div>
                <div class="key_benefits-item">
                  <div class="key_benefits-item-heading-wrapper">
                    <div class="heading-style-h1">2029</div>
                    <div class="text-color-secondary text-weight-light">4/4</div>
                  </div>
                  <p class="text-size-large text-color-secondary">Въвеждане в експлоатация</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
