<section id="location" class="section_location background-color-tertiary">
        <div class="padding-global padding-section-large">
          <div class="container-large">
            <div data-pretitle="" class="preheader_item is-aligned-left">
              <div class="w-embed"><svg width="63" height="16" viewbox="0 0 63 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.8538 0.212891H0V2.66629H6.98686V15.7866H9.76027V2.66629H16.8538V0.212891Z" fill="#A0968F"></path>
                  <path d="M30.3477 0C35.4435 0 39.5752 3.5816 39.5752 8C39.575 12.4183 35.4434 16 30.3477 16C25.2521 15.9998 21.1213 12.4182 21.1211 8C21.1211 3.58172 25.252 0.000190172 30.3477 0ZM30.3457 2.45215C26.8407 2.45233 23.9992 4.93586 23.999 7.99902C23.999 11.0623 26.8406 13.5457 30.3457 13.5459C33.851 13.5459 36.6934 11.0624 36.6934 7.99902C36.6932 4.93575 33.8508 2.45215 30.3457 2.45215Z" fill="#A0968F"></path>
                  <path d="M54.9111 0.191406L62.7207 13.3496V15.8096L43.8398 15.8096V13.1357L51.8096 0.191406L54.9111 0.191406ZM46.9951 13.3516L59.7783 13.3516L53.3066 2.81445L46.9951 13.3516Z" fill="#A0968F"></path>
                </svg>
              </div>
            </div>
            <div class="location_container">
              <div class="location_left-column"><img src="/images/Location_tod_image.webp" loading="lazy" sizes="100vw" srcset="/images/Location_tod_image-p-500.webp 500w, /images/Location_tod_image-p-800.webp 800w, /images/Location_tod_image-p-1080.webp 1080w, /images/Location_tod_image.webp 1266w" alt="Map with locations around the TOD building"></div>
              <div class="location_right-column">
                <h2 class="text-color-alternate-secondary">Локация, която прави <strong>деня по-лесен </strong></h2>
                <div class="location_items-grid">
                  <div class="location-item is-left-column">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">Метростанция „Витоша“</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">10</span> минути пеша</p>
                  </div>
                  <div class="location-item">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">Летище София</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">28</span> минути с метро</p>
                  </div>
                  <div class="location-item is-left-column">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">Paradise Center</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">10</span> минути пеша</p>
                  </div>
                  <div class="location-item">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">Южен парк</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">10</span> минути пеша</p>
                  </div>
                  <div class="location-item is-left-column is-last-row">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">Витоша</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">10</span> минути с автомобил</p>
                  </div>
                  <div class="location-item is-last-row">
                    <p class="heading-style-h5 text-weight-light text-style-allcaps">НДК</p>
                    <div class="divider-horizontal is-small"></div>
                    <p class="text-weight-bold text-style-allcaps"><span class="text-size-large">7</span> минути с метро</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
