<nav data-menu-open="false" data-menu-wrap="" class="nav">
      <div class="nav_bar">
        <div class="mega-nav__container">
          <div class="mega-nav__bar-start">
            <a aria-label="Homepage" data-menu-logo="" href="/#hero" class="mega-nav__bar-logo w-inline-block">
              <div class="mega-nav_logo-embed w-embed"><svg width="97" height="25" viewbox="0 0 97 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.0646 0.330078H0V4.1243H10.8053V24.4151H15.0944V4.1243H26.0646V0.330078Z" fill="currentColor"></path>
                  <path d="M46.9336 0C54.8145 0 61.2031 5.53896 61.2031 12.3721C61.2031 19.2052 54.8145 24.7441 46.9336 24.7441C39.0528 24.744 32.6641 19.2051 32.6641 12.3721C32.6641 5.53901 39.0528 9.65704e-05 46.9336 0ZM46.9336 3.79395C41.5128 3.79404 37.1182 7.6345 37.1182 12.3721C37.1182 17.1096 41.5128 20.9501 46.9336 20.9502C52.3545 20.9502 56.749 17.1097 56.749 12.3721C56.749 7.63444 52.3545 3.79395 46.9336 3.79395Z" fill="currentColor"></path>
                  <path d="M84.9238 0.294922L97 20.6436V24.4482L67.8008 24.4482V20.3125L80.126 0.294922L84.9238 0.294922ZM72.6807 20.6445L92.4492 20.6445L82.4414 4.34863L72.6807 20.6445Z" fill="currentColor"></path>
                </svg>
              </div>
            </a>
            <div data-nav-list="" data-mobile-nav="" class="mega-nav__bar-inner">
              <ul class="mega-nav__bar-list">
                <li data-nav-list-item="" class="nav_li">
                  <a href="#project" data-letter-wave="" class="mega-nav__bar-link w-inline-block"><span class="mega-nav__bar-link-label">За проекта</span></a>
                </li>
                <li data-nav-list-item="" class="nav_li">
                  <a href="#comfort" data-letter-wave="" class="mega-nav__bar-link w-inline-block"><span class="mega-nav__bar-link-label">Удобства</span></a>
                </li>
                <li data-nav-list-item="" class="nav_li">
                  <a href="#location" data-letter-wave="" class="mega-nav__bar-link w-inline-block"><span class="mega-nav__bar-link-label">Локация</span></a>
                </li>
                <li data-nav-list-item="" class="nav_li">
                  <a href="#apartments" data-letter-wave="" class="mega-nav__bar-link w-inline-block"><span class="mega-nav__bar-link-label">Цени</span></a>
                </li>
                <li data-nav-list-item="" class="nav_li">
                  <a href="#benefits" data-letter-wave="" class="mega-nav__bar-link w-inline-block"><span class="mega-nav__bar-link-label">Предимства</span></a>
                </li>
              </ul>
              <a href="#contact" data-letter-wave="" class="button is-secondary is-alternate w-button">Направи запитване</a>
            </div>
            <div class="mega-nav__bar-end"><button data-burger-toggle="" aria-label="toggle menu" aria-expanded="false" class="mega-nav__burger"><span data-burger-line="top" class="mega-nav__burger-line"></span><span data-burger-line="mid" class="mega-nav__burger-line"></span><span data-burger-line="bot" class="mega-nav__burger-line"></span></button></div>
            <div data-mobile-back="" class="mega-nav__back"><button aria-label="back to menu" class="mega-nav__bar-link is--back"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 20 20" fill="none" class="mega-nav__bar-link-icon">
                  <path d="M11.6665 6.6665L8.33317 9.99984L11.6665 13.3332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg><span class="mega-nav__bar-link-label">Back</span></button></div>
          </div>
        </div>
      </div>
      <div data-dropdown-wrapper="" class="mega-nav__dropdown-wrapper">
        <div data-dropdown-container="" class="mega-nav__dropdown-container">
          <div data-dropdown-bg="" class="mega-nav__dropdown-bg"></div>
          <div data-panel-state="" data-nav-content="products" role="region" aria-label="products menu" class="mega-nav__dropdown-panel">
            <div class="mega-nav__dropdown-inner">
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">Platform</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">Features</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col is--colored"><span data-menu-fade="" class="mega-nav__panel-label">Infrastructure</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
            </div>
          </div>
          <div data-panel-state="" data-nav-content="solutions" role="region" aria-label="products menu" class="mega-nav__dropdown-panel">
            <div class="mega-nav__dropdown-inner">
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">By use case</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">By industries</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">By size</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div class="mega-nav__panel-col is--colored"><span data-menu-fade="" class="mega-nav__panel-label">Quick links</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
            </div>
          </div>
          <div data-panel-state="" data-nav-content="company" role="region" aria-label="products menu" class="mega-nav__dropdown-panel">
            <div class="mega-nav__dropdown-inner">
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">company</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col"><span data-menu-fade="" class="mega-nav__panel-label">quick links</span>
                <ul class="mega-nav__panel-list"></ul>
              </div>
              <div data-menu-fade="" class="mega-nav__panel-col is--colored has--card">
                <div class="mega-nav__card">
                  <div class="mega-nav__card-visual"><img loading="lazy" src="/images/osmo-mega-nav-card_1osmo-mega-nav-card.avif" alt="" class="mega-nav__card-img"></div>
                  <div class="mega-nav__card-content">
                    <div class="mega-nav__card-text"><span class="mega-nav__panel-link-text">Sign up for the &#x27;26 conf</span><span class="mega-nav__panel-link-desc">Tickets on sale now</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-menu-backdrop="" class="mega-nav__backdrop"></div>
    </nav>
