<section id="comfort" class="sticky-features__wrap background-color-gradient">
        <div class="padding-global padding-section-large">
          <div class="container-large">
            <div class="sticky-features__scroll">
              <div data-pretitle="" class="preheader_item">
                <div class="w-embed"><svg width="63" height="16" viewbox="0 0 63 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8538 0.212891H0V2.66629H6.98686V15.7866H9.76027V2.66629H16.8538V0.212891Z" fill="#A0968F"></path>
                    <path d="M30.3477 0C35.4435 0 39.5752 3.5816 39.5752 8C39.575 12.4183 35.4434 16 30.3477 16C25.2521 15.9998 21.1213 12.4182 21.1211 8C21.1211 3.58172 25.252 0.000190172 30.3477 0ZM30.3457 2.45215C26.8407 2.45233 23.9992 4.93586 23.999 7.99902C23.999 11.0623 26.8406 13.5457 30.3457 13.5459C33.851 13.5459 36.6934 11.0624 36.6934 7.99902C36.6932 4.93575 33.8508 2.45215 30.3457 2.45215Z" fill="#A0968F"></path>
                    <path d="M54.9111 0.191406L62.7207 13.3496V15.8096L43.8398 15.8096V13.1357L51.8096 0.191406L54.9111 0.191406ZM46.9951 13.3516L59.7783 13.3516L53.3066 2.81445L46.9951 13.3516Z" fill="#A0968F"></path>
                  </svg>
                </div>
              </div>
              <div data-heading="" class="sticky_featured-heading-wrapper">
                <h2><strong>По-добро ежедневие</strong> започва оттук.</h2>
                <p id="w-node-c53428ee-244c-5eff-4a10-5627d508a429-1790c6e7" class="text-size-large text-color-secondary">Добрият дом не се измерва само в квадратни метри. Той се измерва в спестено време, по-добър сън, по-чист въздух и удобства, които правят всеки ден по-лек и по-приятен.</p>
              </div>
              <div data-sticky-feature-wrap="" class="sticky-features__container">
                <div class="sticky-feaures__col">
                  <div class="sticky-features__text-collection">
                    <div class="sticky-features__text-list">
                      <div data-sticky-feature-item="" class="sticky-features__text-item">
                        <div class="margin-bottom margin-small">
                          <h3 data-sticky-feature-text="">Спокойствие за хората, които обичате</h3>
                        </div>
                        <div data-divider="" class="divider-horizontal"></div>
                        <div class="sticky_features-paragraph-wrapper">
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Истинският лукс за едно семейство е спокойното ежедневие. ТОД съчетава тиха среда за пълноценна почивка с всичко необходимо наблизо.</p>
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Само на няколко минути се намират Южен парк, държавни и частни детски градини, три училища и новият филиал на <strong>131. ДГ „Флора“</strong>, който Столична община изгражда в квартала. По-малко време в организация и повече време за най-важните хора у дома. </p>
                        </div>
                      </div>
                      <div data-sticky-feature-item="" class="sticky-features__text-item">
                        <div class="margin-bottom margin-small">
                          <h3 data-sticky-feature-text="">Повече време за важните неща</h3>
                        </div>
                        <div data-divider="" class="divider-horizontal"></div>
                        <div class="sticky_features-paragraph-wrapper">
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Колко време губите всяка седмица в кратки, но неизбежни задачи? Пазаруване, аптека, сутрешно кафе или търсене на място за паркиране.</p>
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">В ТОД голяма част от тях остават на партера на сградата. Вместо да прекарвате времето си в придвижване, го прекарвате със семейството, приятелите или просто със себе си. Концепцията на проекта изчислява, че това може да ви спести над <strong>275 часа годишно</strong>.</p>
                        </div>
                      </div>
                      <div data-sticky-feature-item="" class="sticky-features__text-item">
                        <div class="margin-bottom margin-small">
                          <h3 data-sticky-feature-text="">По-здравословна среда за живот</h3>
                        </div>
                        <div data-divider="" class="divider-horizontal"></div>
                        <div class="sticky_features-paragraph-wrapper">
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary"><strong>Домът трябва да пази спокойствието ви, но и здравето ви.</strong> Затова ТОД е проектиран със система за мониторинг на въглеродния диоксид и влажността, допълнителна филтрация дори на въздуха, който постъпва от подземните гаражи и материали с ниски емисии.</p>
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Биофилният дизайн и циркадното осветление допълват средата, така че всеки ден да започва с повече енергия, по-добра концентрация и усещане за истински комфорт.</p>
                        </div>
                      </div>
                      <div data-sticky-feature-item="" class="sticky-features__text-item">
                        <div class="margin-bottom margin-small">
                          <h3 data-sticky-feature-text="">Повече движение. По-малко усилия. </h3>
                        </div>
                        <div data-divider="" class="divider-horizontal"></div>
                        <div class="sticky_features-paragraph-wrapper">
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Когато движението е част от ежедневието, то не изисква планиране. Само за живущите в ТОД са предвидени фитнес, пространство за йога и стречинг и специална зона за възстановяване.</p>
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Без изгубено време в пътуване, без претъпкани зали и без чакане. А когато ви се прииска повече простор, Южен парк е на кратка разходка, а Витоша – само на 10 минути с автомобил.</p>
                        </div>
                      </div>
                      <div data-sticky-feature-item="" class="sticky-features__text-item">
                        <div class="margin-bottom margin-small">
                          <h3 data-sticky-feature-text="">Дом, създаден за десетилетия напред</h3>
                        </div>
                        <div data-divider="" class="divider-horizontal"></div>
                        <div class="sticky_features-paragraph-wrapper">
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Домът е едно от най-важните решения, които човек взема.</p>
                          <p data-sticky-feature-text="" class="text-size-medium text-color-secondary">Затова ТОД е проектиран с мисъл за десетилетия напред – енергиен клас A/A+, фасада Italgranit с 20-годишна гаранция, алуминиева дограма с доживотна гаранция и собствена фотоволтаична система, която намалява разходите за общите части с до 30%. Инвестиция, която носи комфорт днес и запазва стойността си във времето.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-_8c442b14-dbf8-9d1a-7ca3-246844250495-1790c6e7" class="sticky-feaures__col is--img">
                  <div class="sticky-features__img-collection">
                    <div class="sticky-features__img-list">
                      <div data-sticky-feature-visual-wrap="" class="sticky-features__img-item"><img sizes="100vw" srcset="/images/Image_progress-p-500.webp 500w, /images/Image_progress-p-800.webp 800w, /images/Image_progress-p-1080.webp 1080w, /images/Image_progress.webp 1464w" alt="A man and woman sit on a modern balcony with drinks, overlooking a scenic landscape with hills and trees at sunset." src="/images/Image_progress.webp" loading="lazy" class="sticky-features__img"></div>
                    </div>
                  </div>
                  <div class="sticky-features__progress-w">
                    <div data-sticky-feature-progress="" class="sticky-features__progress-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed">
</div>
      </section>
